{%extends "layout.html"%}
{%block content%}
{% set count = namespace(a=1) %}
{%for ob in imp%}
    {% set name = ob.filename %}
    <div current_num="{{count.a}}" section_name = "{{name}}" section_id="{{ob.id}}"  id="{{name}}_section">
        <p id="{{count.a}}_count" >{{count.a}}</p>
        {%set count.a = count.a +1%}
        <div></div>
        <p id="{{name}}_paragraph" >{{name}}</p>
        <div></div>
        <iframe id="{{name}}_map" src="{{url_for('static',filename='stock.html')}}"></iframe>
        <div></div>
        <button   class="toggleButton">Show Map</button>
        <div></div>
        <button  class="removeButton">Remove Run</button>
        <div></div>
        <button id="{{name}}_makeChangesButton"  class="makeChangesButton">Make Changes</button>
        <div></div>
        <div id="{{name}}_makeChangesKit" style="display: none">
            <textarea id="{{name}}_changeInput">{{ob.coord_string}}</textarea>
            <button class="cancelButton" >Cancel</button>
            <button class="submitChangesButton">Submit Changes</button>
        </div>

    </div>
    <div></div>
{%endfor%}
<p>Total Count: </p>
<p id="total_count" >{{count.a - 1}}</p>
    <div></div>


    <a href="/" > Go back home </a>



{%endblock%}