{%extends "layout.html"%}
{%block content%}
{% set count = namespace(a=1) %}
{%for ob in imp%}
    {% set name = ob.filename %}
    <div  class="map-section" current_num="{{count.a}}" section_name = "{{name}}" section_id="{{ob.id}}"  id="{{name}}_section">
        <p id="{{count.a}}_count" >{{count.a}}</p>
        {%set count.a = count.a +1%}
        <div></div>
        <p id="{{name}}_paragraph" >{{name}}</p>
        <div></div>
        <iframe id="{{name}}_map" src="{{url_for('static',filename='stock.html')}}"></iframe>
        <div></div>
        <button   class="toggleButton">Show Map</button>

        <button  class="removeButton">Remove Run</button>
        <div></div>
        <button id="{{name}}_makeChangesButton"  class="makeChangesButton">Make Changes</button>

        <div class="input-box" id="{{name}}_makeChangesKit" style="display: none">
            <label for="{{name}}_changeInput">Insert New Coordinates</label>
            <textarea class="coord-input-box" id="{{name}}_changeInput" placeholder="Insert New Coordinates">{{ob.coord_string}}</textarea>

            <label for="{{name}}_date">Date</label>
            <input class="coord-input-box" id="{{name}}_date" type="date" value = "{{ob.date}}" >

            <label for="{{name}}_hour">Hour</label>
            <input class="coord-input-box" id="{{name}}_hour" type="number" min="0" max="23" placeholder="Hour" value="{{ob.hour}}" > 

            <label for="{{name}}_minute">Minute</label>
            <input class="coord-input-box" id="{{name}}_minute" type="number" min="0" max="59" placeholder="Minute" value="{{ob.minute}}"> 

            <label for="{{name}}_second">Second</label>
            <input class="coord-input-box" id="{{name}}_second" type="number" min="0" max="59" placeholder="Second" value="{{ob.second}}"> 

            <div></div>
            <button class="cancelButton" >Cancel</button>
            <button class="submitChangesButton">Submit Changes</button>
        </div>

    </div>
    <div></div>
{%endfor%}
<p>Total Count: </p>
<p id="total_count" >{{count.a - 1}}</p>
    <div></div>


    <a href="/" > Go back home </a>



{%endblock%}